@import 'compass';
@import 'jeet/index';

// @import 'compass/reset';
@import 'base/normalize';
@import 'base/boy-reset';
@import 'base/boilertemplate';
@import 'modules/fonts';
@import 'compass/css3';

// //////////////////////
// CUSTOM
// //////////////////////

@import 'base/functions';
@import 'grid/default';
@import 'base/helpers';

$color_dark         : #1a292c;
$color_main   	    : #586BB8; // #32b4cc
$color_alt  		: $color_main;
$color_mainlight 	: #32b4cc;
$color_light 		: #f2f1f1; // f7f7f7
$rowgrid_padding	: 0;// 26px

// //////////////////////
// MODULE STYLES
// //////////////////////

@import 'modules/_01_burger';
@import 'modules/_02_ribbon';
@import 'modules/_03_sprites';
@import 'modules/_04_arrow';
@import 'modules/_05_timeline';
@import 'modules/_06_canvas';
@import 'modules/_10_stage';
@import 'modules/_11_lists';
@import 'modules/xx_rowgrid';
@import 'modules/xx_pageload';

@import 'modules/animations';
@import 'modules/plugins';
@import 'modules/styles';
@import 'modules/layout';
@import 'modules/header';
@import 'modules/nav';
@import 'modules/content';
@import 'modules/footer';
@import 'modules/forms';

@import 'modules/base';
@import 'modules/responsive';
// //////////////////////
// END CUSTOM
// //////////////////////

@import 'base/print';