$burger-width: 32px;
$burger-slice-height: 4px;
$burger-slice-radius: 2px;
.burger {
	width: $burger-width;
	//height: 50px;
	position: absolute; top: 1.45em; left: 1.15em; z-index: 7;
	cursor: pointer;
	@include user-select(none);

	// top: 50%;
	// left: 50%;
	// margin-left: -20px;
	// margin-top: -25px;

	&__slice {
		position: relative; // :after
		overflow: hidden; // :after
		display: block;
		width: $burger-width; // original: 40px;
		height: $burger-slice-height;
		margin: 0 0 5px;
		background: $color_main; //background: #232853;

		@include opacity(0);
		@include transform(translateX(-10px));
		@include transition(all .2s ease-in);
		@include border-radius($burger-slice-radius);

		&:after {
			content: ""; position: absolute; top: 0; left: 0; right: 0; height: $burger-slice-height; background: #fff;
			@include transform(translate(-$burger-width));
			@include border-radius($burger-slice-radius);
			@include transition(transform 200ms ease-in-out);
		}
	}

	&:hover {
		.burger__slice {
			&:first-child  { @include transform(translateX(3px)); @include transition(250ms); }
			&:nth-child(2) { @include transform(translateX(3px)); @include transition(500ms); }
			&:nth-child(3) { @include transform(translateX(3px)); @include transition(750ms); }

			&:after {
				background: $color_dark;
				@include transform(translate(0));
			}
		}

	}

	// Burger loaded
	&.burger--loaded {
		.burger__slice {
			&:first-child  { /*@include transition(all .2s ease-in .3s);*/ @include transition(250ms); }
			&:nth-child(2) { /*@include transition(all .2s ease-in .6s);*/ @include transition(500ms); }
			&:nth-child(3) { /*@include transition(all .2s ease-in .9s);*/ @include transition(750ms); }

			@include opacity(1);
			@include transform(translateX(0));
		}
	}

	// Open burger
	&.burger--open {
		margin-left: .34em;
		.burger__slice {
			background: $color_dark;

			// Remove transition delay
			&:first-child, 
			&:nth-child(2), 
			&:nth-child(3) {
				@include transition(200ms);
			}

			// Rotate 'em
			&:first-child {
				@include rotate(45deg);
				@include transform-origin(3px); // original: @include transform-origin(10px);
			}
			&:nth-child(2) {
				@include opacity(0); 
			}
			&:nth-child(3) {
				@include rotate(-45deg);
				@include transform-origin(3px); // original: @include transform-origin(10px);
			}
		}
	}
}
