.lined {
	position: relative;

	// Add line
	&:after {
		content: ""; position: absolute; top: 0; bottom: 0; left: -5em; right: auto; width: 7px;
		
		// Default, gray, color
		background: $color_light;

		// Color in header
		.l-top & {
			background: #171a39; background: rgba(23, 26, 57, .4);
		}
	}
	// &:before {
	// 	display: none;
	// 	background: red;
	// 	position: fixed; top: 0; left: auto; margin-left: -5em; height: 50%; z-index: 30; 

	// 	// Show only line in header
	// 	.l-top & {
	// 		display: block; background: $color-main;
	// 	}
	// }
}