$pagetitle_size: 62px;
.page-title {
	margin: 0; padding: rhythm(1.5, $pagetitle_size) 0 0 0; /* 1 line below */
  	@include adjust-font-size-to($pagetitle_size);
	/*font-size: $pagetitle_size;*/ font-weight: 700; text-transform: uppercase; 
	.sub { 
		display: block; 
		font-weight: 400; line-height: 1em;
  		font-size: pem(39, $pagetitle_size); /* @include adjust-font-size-to(pem(39px, $pagetitle_size)); */
	}
}

.separator {
	display: block;
	border-top: 0; /*@include trailing-border(6px);*/ border:0; padding: 0; height: auto; 
	height: 6px; width: 235px; max-width: 235px; 
	margin: rhythm(2, $pagetitle_size) 0 rhythm(4, $pagetitle_size) 0; 
	background: $color-main; background: rgba(88, 107, 184, .8); /*background: rgba(50, 180, 204, .8);*/
	@include border-radius(2px);
	@include transition(all 200ms ease-in);
	//.loaded & { width: 235px; }
	&--med {
		height: 4px;
	}
}

.meta {
  	@include adjust-font-size-to(19px);
	margin-bottom: rhythm(2, 19px);
	.item { margin-left: 1em; &:first-child { margin-left: 0; } }
	.icon { margin-right: .2em; }
}

.intro {
  	@include adjust-font-size-to(24px);
	padding-bottom: rhythm(3);
}

$content_fontsize: 22px;
.content {
  	@include adjust-font-size-to($content_fontsize);

	h2, h3, h4, h5, h6 { margin: 1.25em 0 0; }
	h2 { font-size: 2em; }

	p {
		margin: 1em 0; 
		&:first-child { margin-top: 0; }
		&:last-child { margin-bottom: 0; }
	}
	> p {
		&:first-of-type:first-letter{
			position:relative;
			font-size:5rem; float:left; display:inline-block; 
			margin: 16px 12px 0 0;
		}
	}

	p, li, blockquote {
	  	code {
	  		display: inline-block;
	  		font-size: .7em; line-height: 1em; padding: .45em .4em; margin: 0 .25em; vertical-align: 2px; 
	  		color: #7C5880;
	  		border: 2px solid $color_light; // background: #000; color: #fff; 
	  		@include border-radius(4px);
	  	}
	}

  	blockquote {
  		font-style: italic; padding-left: 1.3em; margin: 1.5em 0;
		p { font-size: 1.1em; line-height: 1.59091em; }

  		// Line
  		@extend .lined; 
  		// Override line bg
  		&:after { 
  			// Adapt the EM font-size so that the "left" position of the line is correct!
  			font-size: pem(16, $content_fontsize); z-index: 30; background: #96A5E2;
  			@include transition(background 200ms ease-in);
  		}
  		&:hover { &:after { background: #8394DA; } }
  	}
  	ol,
	ul {
		margin: 1.6em 0 1.6em;
		li { margin: .75em 0; }
	}
	hr { border-color: $color_light; border-top-width: 4px; max-width: 350px; margin: 1.5em auto; }
	pre {
		overflow: visible;
		margin-left: -2em;;
		
  		code { display: block; font-size: .8em; line-height: 1.63em; margin: 1.3em 0; padding: .6em 0; /*padding: .5em 1em;*/ }

  		// Line
  		// @extend .lined; 
  		// // Override line bg
  		// &:after { 
  		// 	// Adapt the EM font-size so that the "left" position of the line is correct!
  		// 	font-size: pem(16, $content_fontsize); z-index: 30; background: #EB9798;
  		// 	@include transition(background 200ms ease-in);
  		// }
  		// &:hover { &:after { background: #D87879; }}
	}

  	// --> Overrides
  	// Main contnet
  	&--main {
		padding-top: 2.5em; padding-bottom: 2em;
	}
}

.article-meta {
	border-top: 1px solid $color_light; border-bottom: 1px solid $color_light;
	padding-top: 0; padding-bottom: 1.5em;

	.wrapper { border-bottom: 1px solid $color_light; }

	&__links {
		padding-top: 2.0em; padding-bottom: 2.0em; 
		// .btn { overflow: hidden; /*otherwise btns not one same line*/ }
	}
	&__user {
		padding-top: 2.0em; padding-bottom: 2.0em;
	}
}

// Profile
.profile {
	&__pic { float: left; margin-right: 1.4em; }
	&__title { 
		font-weight: 500; text-transform: uppercase;
		font-size: 1.2em; margin-top: .65em; margin-bottom: 0; 
	}
	&__subtitle { font-size: .9em; margin-bottom: .8em; }
	&__content { font-size: 1.1em; line-height: 1.45em; margin-top: .65em; }
}