/* ==========================================================================
   Font-face & font-families import
   ========================================================================== */
%fontmain {
	font-family: "Ubuntu", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal; font-weight: 400;
}

%fonttext {
	font-family: "Alegreya", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif; 
	font-weight: normal; font-weight: 400;
}

b, strong {font-weight: bold; font-weight: 700;}
.f-medium { font-weight: 500; }