.main-header {
	color: #fff; background: #FFFFFF; //background: #df5b57;
	display: inline-block;
	position: absolute; 
	top: 0; left: 0; z-index: 300;
	height: 70px; width: 70px;
	//@include clearfix;

	// li { float: left; padding: 0; margin: 0 0 0 50px; list-style: none; }
	// a { 
	// 	display: block;
	// 	font-size: 1.15em; line-height: 1em; color: #232853; 
	// 	padding-top: 1.5em; padding-bottom: 1.5em; 

	// 	&:hover { color: #fff; }
	// }

	// nav { margin-left: 3.5em;}
}

$rowSize: -98px;

%gradientedBg {
	background: rgb(51,57,115);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMzMzOTczIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzY3M2E1ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg, rgba(51,57,115,1) 0%, rgba(103,58,93,1) 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(51,57,115,1)), color-stop(100%,rgba(103,58,93,1)));
	background: -webkit-linear-gradient(-45deg, rgba(51,57,115,1) 0%,rgba(103,58,93,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(51,57,115,1) 0%,rgba(103,58,93,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(51,57,115,1) 0%,rgba(103,58,93,1) 100%);
	background: linear-gradient(135deg, rgba(51,57,115,1) 0%,rgba(103,58,93,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333973', endColorstr='#673a5d',GradientType=1 );
}

.l-top,
.backgrounded {
	color: #fff;
	@extend %gradientedBg;

	position: relative; z-index: 2;
	.after/*&:after*/ {
		content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: -1;
		background: url('../img/cover/cover-rail.jpg') 0 100% no-repeat;
		@include opacity(.15);
	}

	&--1 { .after/*&:after*/ { background-position: 0 0; } }
	&--2 { .after/*&:after*/ { background-position: 0 (1 * $rowSize); } }
	&--3 { .after/*&:after*/ { background-position: 0 (2 * $rowSize); } }
	&--4 { .after/*&:after*/ { background-position: 0 (3 * $rowSize); } }
	&--5 { .after/*&:after*/ { background-position: 0 (4 * $rowSize); } }
	&--6 { .after/*&:after*/ { background-position: 0 (5 * $rowSize); } }
	&--7 { .after/*&:after*/ { background-position: 0 (6 * $rowSize); } }
	&--8 { .after/*&:after*/ { background-position: 0 (7 * $rowSize); } }
	&--9 { .after/*&:after*/ { background-position: 0 (8 * $rowSize); } }
	&--10 { .after/*&:after*/ { background-position: 0 (9 * $rowSize); } }
	&--11 { .after/*&:after*/ { background-position: 0 (10 * $rowSize); } }

	// Support for full multi-stop gradients with IE9 (using SVG).
	.ie9 & { filter: none; }
}

.l-top {
	overflow: hidden; // Hide overflow for scale animation (:after);

	.after/*&:after*/ {
		@include transform(scale(1.35) rotate(0));
		@include transition(transform 200ms ease-in-out);

		@include filter(blur(0px));

		.loaded & { @include transform(scale(1) rotate(0)); }
		//@include background-size(cover);
	}

	// Hover
	// &:hover {
	// 	&:after {
	// 		@include opacity(.1);
	// 	}
	// }

	// Fixed version
	@include transition(transform 200ms ease-in);
	&.l-top--fixed {
		z-index: 999;
		position: fixed; top: 0; left: 0; right: 0; 
		@include transform(translateY(-100px));

		.post__credit, .ribbon, .separator, .meta, .intro { display: none; }
		.burger { top: 2.15em; }
		// Show arrow next to burger
		//.arrow--left { left: 4em; }
		.page-title { 
			padding: 1.65em 0; font-size: 1.3em; 
			.sub { display: inline-block; }
		}
		&.l-top--animate {
			@include transform(translateY(0));
		}
	}

	.post__credit {
		display: block; position: absolute; bottom: 1.5em; right: 1.5em; max-width: 250px;
		z-index: 1000;
		font-size: .7em; line-height: 1em; text-align: right; color: #C4C4C4; 
		a, a:hover { color: #fff; }
	}
}


.backgrounded {
	padding-top: 2.5em; padding-bottom: 2.5em; 
	border-bottom: 1px solid #978996;
	border-bottom-color: rgba(151, 137, 150, .55);
	.item__title { margin-top: 0; }

	a { color: #7E8FD5; }
	h3 { text-transform: uppercase; font-size: 2.5em; line-height: 1em; }
	&--year {
		@extend %fontmain;
		background: #232853; padding-top: 1.5em; padding-bottom: 1.5em;
		border-top: 0; border-bottom: 0;
		.year { display: block; font-size: 3em; line-height: 1em; }
	}

	overflow: hidden;
    // background-size: auto 200%;
    // background-position: 0 100%;
    -webkit-backface-visibility: hidden; -webkit-transform: scale(1);
	@include transition(background 200ms ease-in);
	&:after { @include transition(all 200ms ease-in); }
	&:hover {
		-webkit-backface-visibility: hidden; -webkit-transform: scale(1);
    	//background-position: 0 0;
		.after/*&:after*/ {
			//@include transform(scale(1.05));
		}
		// &.backgrounded--1 { &:after { background-position: 0 (1 * $rowSize); } }
		// &.backgrounded--2 { &:after { background-position: 0 (2 * $rowSize); } }
		// &.backgrounded--3 { &:after { background-position: 0 (3 * $rowSize); } }
		// &.backgrounded--4 { &:after { background-position: 0 (4 * $rowSize); } }
		// &.backgrounded--5 { &:after { background-position: 0 (5 * $rowSize); } }
		// &.backgrounded--6 { &:after { background-position: 0 (6 * $rowSize); } }
		// &.backgrounded--7 { &:after { background-position: 0 (7 * $rowSize); } }
		// &.backgrounded--8 { &:after { background-position: 0 (8 * $rowSize); } }
		// &.backgrounded--9 { &:after { background-position: 0 (9 * $rowSize); } }
		// &.backgrounded--10 { &:after { background-position: 0 (10 * $rowSize); } }
		// &.backgrounded--11 { &:after { background-position: 0 (11 * $rowSize); } }
	}
}
.posts__for__year {
	.backgrounded {
		&:last-child {
			border-bottom: 0;
		}
	}
}