// ---
// Jeckyll highlighting
// ---
// --> Version 1
.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

// CUSTOM BB
//.highlight { background: transparent; margin-left: -3.9em; }
.highlight .kd { color: #819FCA; }
.highlight .lineno { 
	display: inline-block;
	color: $color_dark; background: $color_light;
	line-height: 1em; padding: .2em; margin-right: .7em;
	width: 20px; height: 20px; font-size: .8em; 
	text-align: center; 
	@include user-select(none);
	@include border-radius(50%);
}

// --> Solarized Light Pygments CSS / Jekyll
// .highlight { 
//   background-color: #efefef;
//   padding: 7px 7px 7px 10px;
//   border: 1px solid #ddd;
//   -moz-box-shadow: 3px 3px rgba(0,0,0,0.1);
//   -webkit-box-shadow: 3px 3px rgba(0,0,0,0.1);
//   box-shadow: 3px 3px rgba(0,0,0,0.1);
//   margin: 20px 0 20px 0;
//   overflow: hidden;
// }
// code {
//   font-family:'Bitstream Vera Sans Mono','Courier', monospace;
// }
// .highlight .c { color: #586E75 } /* Comment */
// .highlight .err { color: #93A1A1 } /* Error */
// .highlight .g { color: #93A1A1 } /* Generic */
// .highlight .k { color: #859900 } /* Keyword */
// .highlight .l { color: #93A1A1 } /* Literal */
// .highlight .n { color: #93A1A1 } /* Name */
// .highlight .o { color: #859900 } /* Operator */
// .highlight .x { color: #CB4B16 } /* Other */
// .highlight .p { color: #93A1A1 } /* Punctuation */
// .highlight .cm { color: #586E75 } /* Comment.Multiline */
// .highlight .cp { color: #859900 } /* Comment.Preproc */
// .highlight .c1 { color: #586E75 } /* Comment.Single */
// .highlight .cs { color: #859900 } /* Comment.Special */
// .highlight .gd { color: #2AA198 } /* Generic.Deleted */
// .highlight .ge { color: #93A1A1; font-style: italic } /* Generic.Emph */
// .highlight .gr { color: #DC322F } /* Generic.Error */
// .highlight .gh { color: #CB4B16 } /* Generic.Heading */
// .highlight .gi { color: #859900 } /* Generic.Inserted */
// .highlight .go { color: #93A1A1 } /* Generic.Output */
// .highlight .gp { color: #93A1A1 } /* Generic.Prompt */
// .highlight .gs { color: #93A1A1; font-weight: bold } /* Generic.Strong */
// .highlight .gu { color: #CB4B16 } /* Generic.Subheading */
// .highlight .gt { color: #93A1A1 } /* Generic.Traceback */
// .highlight .kc { color: #CB4B16 } /* Keyword.Constant */
// .highlight .kd { color: #268BD2 } /* Keyword.Declaration */
// .highlight .kn { color: #859900 } /* Keyword.Namespace */
// .highlight .kp { color: #859900 } /* Keyword.Pseudo */
// .highlight .kr { color: #268BD2 } /* Keyword.Reserved */
// .highlight .kt { color: #DC322F } /* Keyword.Type */
// .highlight .ld { color: #93A1A1 } /* Literal.Date */
// .highlight .m { color: #2AA198 } /* Literal.Number */
// .highlight .s { color: #2AA198 } /* Literal.String */
// .highlight .na { color: #93A1A1 } /* Name.Attribute */
// .highlight .nb { color: #B58900 } /* Name.Builtin */
// .highlight .nc { color: #268BD2 } /* Name.Class */
// .highlight .no { color: #CB4B16 } /* Name.Constant */
// .highlight .nd { color: #268BD2 } /* Name.Decorator */
// .highlight .ni { color: #CB4B16 } /* Name.Entity */
// .highlight .ne { color: #CB4B16 } /* Name.Exception */
// .highlight .nf { color: #268BD2 } /* Name.Function */
// .highlight .nl { color: #93A1A1 } /* Name.Label */
// .highlight .nn { color: #93A1A1 } /* Name.Namespace */
// .highlight .nx { color: #555 } /* Name.Other */
// .highlight .py { color: #93A1A1 } /* Name.Property */
// .highlight .nt { color: #268BD2 } /* Name.Tag */
// .highlight .nv { color: #268BD2 } /* Name.Variable */
// .highlight .ow { color: #859900 } /* Operator.Word */
// .highlight .w { color: #93A1A1 } /* Text.Whitespace */
// .highlight .mf { color: #2AA198 } /* Literal.Number.Float */
// .highlight .mh { color: #2AA198 } /* Literal.Number.Hex */
// .highlight .mi { color: #2AA198 } /* Literal.Number.Integer */
// .highlight .mo { color: #2AA198 } /* Literal.Number.Oct */
// .highlight .sb { color: #586E75 } /* Literal.String.Backtick */
// .highlight .sc { color: #2AA198 } /* Literal.String.Char */
// .highlight .sd { color: #93A1A1 } /* Literal.String.Doc */
// .highlight .s2 { color: #2AA198 } /* Literal.String.Double */
// .highlight .se { color: #CB4B16 } /* Literal.String.Escape */
// .highlight .sh { color: #93A1A1 } /* Literal.String.Heredoc */
// .highlight .si { color: #2AA198 } /* Literal.String.Interpol */
// .highlight .sx { color: #2AA198 } /* Literal.String.Other */
// .highlight .sr { color: #DC322F } /* Literal.String.Regex */
// .highlight .s1 { color: #2AA198 } /* Literal.String.Single */
// .highlight .ss { color: #2AA198 } /* Literal.String.Symbol */
// .highlight .bp { color: #268BD2 } /* Name.Builtin.Pseudo */
// .highlight .vc { color: #268BD2 } /* Name.Variable.Class */
// .highlight .vg { color: #268BD2 } /* Name.Variable.Global */
// .highlight .vi { color: #268BD2 } /* Name.Variable.Instance */
// .highlight .il { color: #2AA198 } /* Literal.Number.Integer.Long */

// ---
// HighlightJS
// ---
// .hljs{display:block;padding:.5em;background:#f0f0f0}.hljs,.hljs-subst,.hljs-tag .hljs-title,.lisp .hljs-title,.clojure .hljs-built_in,.nginx .hljs-title{color:black}.hljs-string,.hljs-title,.hljs-constant,.hljs-parent,.hljs-tag .hljs-value,.hljs-rules .hljs-value,.hljs-rules .hljs-value .hljs-number,.hljs-preprocessor,.hljs-pragma,.haml .hljs-symbol,.ruby .hljs-symbol,.ruby .hljs-symbol .hljs-string,.hljs-aggregate,.hljs-template_tag,.django .hljs-variable,.smalltalk .hljs-class,.hljs-addition,.hljs-flow,.hljs-stream,.bash .hljs-variable,.apache .hljs-tag,.apache .hljs-cbracket,.tex .hljs-command,.tex .hljs-special,.erlang_repl .hljs-function_or_atom,.asciidoc .hljs-header,.markdown .hljs-header,.coffeescript .hljs-attribute{color:#800}.smartquote,.hljs-comment,.hljs-annotation,.hljs-template_comment,.diff .hljs-header,.hljs-chunk,.asciidoc .hljs-blockquote,.markdown .hljs-blockquote{color:#888}.hljs-number,.hljs-date,.hljs-regexp,.hljs-literal,.hljs-hexcolor,.smalltalk .hljs-symbol,.smalltalk .hljs-char,.go .hljs-constant,.hljs-change,.lasso .hljs-variable,.makefile .hljs-variable,.asciidoc .hljs-bullet,.markdown .hljs-bullet,.asciidoc .hljs-link_url,.markdown .hljs-link_url{color:#080}.hljs-label,.hljs-javadoc,.ruby .hljs-string,.hljs-decorator,.hljs-filter .hljs-argument,.hljs-localvars,.hljs-array,.hljs-attr_selector,.hljs-important,.hljs-pseudo,.hljs-pi,.haml .hljs-bullet,.hljs-doctype,.hljs-deletion,.hljs-envvar,.hljs-shebang,.apache .hljs-sqbracket,.nginx .hljs-built_in,.tex .hljs-formula,.erlang_repl .hljs-reserved,.hljs-prompt,.asciidoc .hljs-link_label,.markdown .hljs-link_label,.vhdl .hljs-attribute,.clojure .hljs-attribute,.asciidoc .hljs-attribute,.lasso .hljs-attribute,.coffeescript .hljs-property,.hljs-phony{color:#88F}.hljs-keyword,.hljs-id,.hljs-title,.hljs-built_in,.hljs-aggregate,.css .hljs-tag,.hljs-javadoctag,.hljs-phpdoc,.hljs-yardoctag,.smalltalk .hljs-class,.hljs-winutils,.bash .hljs-variable,.apache .hljs-tag,.go .hljs-typename,.tex .hljs-command,.asciidoc .hljs-strong,.markdown .hljs-strong,.hljs-request,.hljs-status{font-weight:bold}.asciidoc .hljs-emphasis,.markdown .hljs-emphasis{font-style:italic}.nginx .hljs-built_in{font-weight:normal}.coffeescript .javascript,.javascript .xml,.lasso .markup,.tex .hljs-formula,.xml .javascript,.xml .vbscript,.xml .css,.xml .hljs-cdata{opacity:.5}

// /* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

// /* Tomorrow Comment */
// .hljs-comment,
// .hljs-title {
//   color: #8e908c;
// }

// /* Tomorrow Red */
// .hljs-variable,
// .hljs-attribute,
// .hljs-tag,
// .hljs-regexp,
// .ruby .hljs-constant,
// .xml .hljs-tag .hljs-title,
// .xml .hljs-pi,
// .xml .hljs-doctype,
// .html .hljs-doctype,
// .css .hljs-id,
// .css .hljs-class,
// .css .hljs-pseudo {
//   color: #c82829;
// }

// /* Tomorrow Orange */
// .hljs-number,
// .hljs-preprocessor,
// .hljs-pragma,
// .hljs-built_in,
// .hljs-literal,
// .hljs-params,
// .hljs-constant {
//   color: #f5871f;
// }

// /* Tomorrow Yellow */
// .ruby .hljs-class .hljs-title,
// .css .hljs-rules .hljs-attribute {
//   color: #eab700;
// }

// /* Tomorrow Green */
// .hljs-string,
// .hljs-value,
// .hljs-inheritance,
// .hljs-header,
// .ruby .hljs-symbol,
// .xml .hljs-cdata {
//   color: #718c00;
// }

// /* Tomorrow Aqua */
// .css .hljs-hexcolor {
//   color: #3e999f;
// }

// /* Tomorrow Blue */
// .hljs-function,
// .python .hljs-decorator,
// .python .hljs-title,
// .ruby .hljs-function .hljs-title,
// .ruby .hljs-title .hljs-keyword,
// .perl .hljs-sub,
// .javascript .hljs-title,
// .coffeescript .hljs-title {
//   color: #4271ae;
// }

// /* Tomorrow Purple */
// .hljs-keyword,
// .javascript .hljs-function {
//   color: #8959a8;
// }

// .hljs {
//   display: inline-block;
//   background: white;
//   color: #4d4d4c;
//   padding: 0.5em;
// }

// .coffeescript .javascript,
// .javascript .xml,
// .tex .hljs-formula,
// .xml .javascript,
// .xml .vbscript,
// .xml .css,
// .xml .hljs-cdata {
//   opacity: 0.5;
// }


// // OVERRIDES BB: more contrasted colors
// .css .hljs-rules .hljs-attribute, .ruby .hljs-class .hljs-title {
// 	color: #C99D01;
// }
// .hljs-keyword, .javascript .hljs-function {
// 	color: #703794;
// }
// .hljs-built_in, .hljs-constant, .hljs-literal, .hljs-number, .hljs-params, .hljs-pragma, .hljs-preprocessor {
// 	color: #EC7A0D;
// }