/* Fonts size and line height defaults */
$base-font-size: 16px; /* Sets the browser default size. */
$base-line-height: 17.5px; /* Baseline grid. */
@include establish-baseline; /* "This is where the magic happens" —Everyone on MTV Cribs. */

body{
  @extend %fonttext; color: $color_dark; background: #fff;
  line-height: 1.45em;
  text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6{
  @extend %fontmain; line-height: 1.15em;
  margin: 0.5em 0; font-weight: 400;
  b { font-weight: 700; }
}
h1 { font-size: pem(46); }
h2 { font-size: 2.2em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.2em; }

a {
  color: $color_alt; text-decoration: none; /* border-bottom: 1px solid transparent; */
  @include transition(all 220ms ease-in);
}
a.active,
a:active,
a:hover{ color: #000; }