$rowGridPadding: 2.5em;
$iconWrapperSize: 38px;
$rowGridHeight: 156px;
// [data-columns] {
// 	::before {
// 		content: '3 .column.size-1of3';
// 	}
// }
// /* These are the classes that are going to be applied: */
// .column { float: left; }
// .size-1of3 { width: 33.333%; }

.rowgrid-wrapper {
	padding: $rowgrid_padding;
	background: #444;
}

.tags {
	margin-bottom: .75em;
	.tag {
		display: inline-block; background: $color_main;
		text-transform: uppercase; 
		line-height: 1em; font-size: .85em; padding: .25em;
	}
}

.rowgrid {

	a.rowgrid__item { display: block; }
	&__item {
		  //float: left;
		  //margin-bottom: 10px; 

	   /*following properties, fix problem*/
	   //margin-left: -1px !important;
	   //transform:translateX(1px);
		-webkit-backface-visibility: hidden; -webkit-transform: scale(1);

		.rowgrid__inner {
			padding: $rowGridPadding;
		}
		.rowgrid__inner--vert {
			padding-top: 0; padding-bottom: 0; 
			@extend %vertical-align;
		}

		// @include box-sizing(border-box);
		//* { @include box-sizing(border-box); }

		&--third {
			width: 37.5%;
		}
		&--half {
			width: 50%; 
		}
		&--quarter {
			width: 25%;
		}
		&--eight { 
			width: 12.5%;
		}

		&--rowone {height: $rowGridHeight;}
		&--rowtwo {height: $rowGridHeight * 2;}
		&--rowthree {height: $rowGridHeight * 3;}
		&--rowfour {height: $rowGridHeight * 4;}

		// 14 cols
		// .stretch1{width:7.142857%;}
		// .stretch2{width:14.285714%;}
		// .stretch3{width:21.428571%;}
		// .stretch4{width:28.571428%;}
		
		&--social {
			p, .icon {
				@include transition(transform 250ms cubic-bezier(0.895, 0.030, 0.685, 0.220) 200ms);
			}
			&:hover {
				p {
					@include transform(scale(1.2));
				}
				.icon {
					@include transform(scale(.75));
				}
			}
		}
		&.google,
		&.dribbble,
		&.twitter {
			color: #fff; text-align: center; 
			@extend %fontmain;
			&:hover {
				background: $color_dark;
			}
		}
		&.google {background:#dd4b39;}
		&.dribbble {background:#ea4c89;}
		&.twitter {background:#55acee;}

		&.backgrounded {
			//width: 500px; height: 300px;
			//padding-left: $rowGridPadding; padding-right: $rowGridPadding;
			text-align: center; border: 0;
			
			//border: 1px solid #333973;
			&--year {
				text-transform: uppercase;
				small { 
					display: block; font-size: .65em; line-height: 1em; 
				}
				.rowgrid__inner {
					padding: ($rowGridPadding / 2) $rowGridPadding;
				}
			}

			.item__title {
				font-weight: 700; 
				small { display: block; font-weight: 400; font-size: 70%; line-height: 1em; }
				// -webkit-backface-visibility: hidden; -webkit-transform: scale(1);
				// @include transition(
				// 	all 250ms cubic-bezier(0.895, 0.030, 0.685, 0.220)
				// );
			}
			.post__title,
			.post__subtitle {
				display: block;
				@include transition(
					transform 250ms cubic-bezier(0.895, 0.030, 0.685, 0.220)
				);
			}
			.after {
				background-image: url('../img/cover/cover-light-rail.jpg');
				@include opacity(.1);
				@include transition(
					all 250ms cubic-bezier(0.895, 0.030, 0.685, 0.220)
				);
			}
			-webkit-backface-visibility: hidden; -webkit-transform: scale(1);
			.separator {
				position: relative; margin-bottom: 0;
				&:after {
					display: block; background: $color_main;
					content: ""; height: 4px; width: 30px; 
					position: absolute; 
					margin-left: auto; margin-right: auto;
					-webkit-backface-visibility: hidden; -webkit-transform: scale(1);
					@include opacity(0);
					@include transition(
						none
					);
				}
				-webkit-backface-visibility: hidden; -webkit-transform: scale(1);
				@include transition(
					width 250ms cubic-bezier(0.895, 0.030, 0.685, 0.220),
					transform 100ms cubic-bezier(0.895, 0.030, 0.685, 0.220)
				);
			}
			&:hover {
				color: #fff;

				.after {
					@include transform(scale(1.05));
					//left: 0; 
				}
				.post__title {
					@include transform(scale(1.05));
				}
				.post__subtitle {
					@include transform(scale(.9));
				}
				.separator {
					height: 3px;
					width: 30px; background: #fff;
					@include transform(rotate(-30deg));
					@include transition(
						//background 250ms cubic-bezier(0.895, 0.030, 0.685, 0.220),
						width 250ms cubic-bezier(0.895, 0.030, 0.685, 0.220),
						transform 250ms cubic-bezier(0.895, 0.030, 0.685, 0.220) 200ms
					);
					&:after {
						height: 3px;
						background: #fff;
						@include opacity(1);
						@include transform(rotate(60deg));
						@include transition(
							transform 250ms cubic-bezier(0.895, 0.030, 0.685, 0.220) 250ms
						);
					}
				}
			}
		}
		.separator { margin-left: auto; margin-right: auto; }
 
		.iconwrapper {
			display: inline-block; 
			text-align: center; margin-bottom: .6em; display: inline-block; 
			background: #4E9FDD; 
			line-height: 1em; width: $iconWrapperSize; height: $iconWrapperSize;
			@include border-radius(50%);
			.icon { vertical-align: -5px; }

			-webkit-backface-visibility: hidden; -webkit-transform: scale(1);
			@include transition(all 350ms cubic-bezier(0.895, 0.030, 0.685, 0.220));
		}

		// General img helpers (Dribbble, Instagram)
		.imgHover {
			-webkit-backface-visibility: hidden; -webkit-transform: scale(1);
			@include opacity(.5); 
			@include transition(opacity 200ms cubic-bezier(0.895, 0.030, 0.685, 0.220)); 
		}
			a.imgHover:hover { @include opacity(1); }
		.imgCovered {
			display: block;
			position: absolute; top: 0; left: 0; right: 0; bottom: 0;
			@include background-size(cover);
		}
 

		&--intro {
			.content-zone {
				margin-bottom: .65em;
			}
			.btn {
				-webkit-backface-visibility: hidden; -webkit-transform: scale(1);
				.inner {
					background-color: transparent;
				}
			}
		}
		&--dribbble {
			overflow: hidden;
			text-align: center;
			background: #000;
			//@extend %gradientedBg;
			-webkit-backface-visibility: hidden; -webkit-transform: scale(1);
			
			position: relative; // needed for .imgCovered & .iconwrapper
			.rowgrid__inner {
				padding: 0;
			}
			.shot__title {
				@extend %vertical-align;
				position: absolute; 
				left: 1.2em; right: 1.2em; top: -150px; z-index: 3; 
				color: #fff; font-size: 2em; line-height: 1.1em;
				//padding: 0 $rowGridPadding;
				
				@extend %fontmain; 
				@include opacity(0); 
				@include transition(top 350ms cubic-bezier(0.895, 0.030, 0.685, 0.220) 350ms); 
			}
			.iconwrapper {
				position: absolute; top: 2em; right: 2em; bottom: auto; left: auto;
				z-index: 2;
				background: #ea4c89; 
				@include transition(
					top 350ms cubic-bezier(0.895, 0.030, 0.685, 0.220),
					right 350ms cubic-bezier(0.895, 0.030, 0.685, 0.220),
					width 350ms cubic-bezier(0.895, 0.030, 0.685, 0.220),
					height 350ms cubic-bezier(0.895, 0.030, 0.685, 0.220),
					border-radius 220ms cubic-bezier(0.895, 0.030, 0.685, 0.220) 200ms
				);
				.icon {
					vertical-align: -14px; 
					-webkit-backface-visibility: hidden; -webkit-transform: scale(1);
					@include transition(margin 350ms cubic-bezier(0.895, 0.030, 0.685, 0.220) 0);
				}
			}
			.img {
			}
			// position: relative;
			// &:after {
			// 	content: ""; position: absolute; top: 0; right: 0; left: 0; bottom: 0;
			// 	background: #000;
			// 	@include opacity(.6);
			// }
			&:hover {
				.img { @include opacity(1); }
				.iconwrapper { 
					top: 0; right: 0;
					width: 100%; height: 100%; 
					@include border-radius(0); 
					.icon {
						margin-top: 3em;
						@include transition(margin 350ms cubic-bezier(0.895, 0.030, 0.685, 0.220) 200ms);
					}

					// @include transition(
					// 	top 350ms cubic-bezier(0.895, 0.030, 0.685, 0.220),
					// 	right 350ms cubic-bezier(0.895, 0.030, 0.685, 0.220),
					// 	width 350ms cubic-bezier(0.895, 0.030, 0.685, 0.220),
					// 	height 350ms cubic-bezier(0.895, 0.030, 0.685, 0.220),
					// 	border-radius 150ms cubic-bezier(0.895, 0.030, 0.685, 0.220) 250ms
					// );
				}
				.shot__title {
					top: 50%; //top: $rowGridPadding;
					@include opacity(1);
				}
				// &:after {
				// 	@include opacity(1);
				// }
			}
		}
		&--instagram { 
			position: relative;
			@extend %gradientedBg;
		}
		&--tweet {
			z-index: 3;
			text-align: center;
			background: #55acee;
			border: 1px solid #4E9FDD; 
			//padding: ($rowGridPadding + 3.3em) $rowGridPadding $rowGridPadding;

			//a {
				color: #f5f8fa;
			//	&:hover, &.active { color: #fff; }
			//}
 
			.iconwrapper {
				background: #4E9FDD;
				position: absolute; top: 0; left: 50%; margin-left: - $iconWrapperSize / 2; 
				-webkit-backface-visibility: hidden; -webkit-transform: scale(1);
				// @include transition(
				// 	left 150ms cubic-bezier(0.895, 0.030, 0.685, 0.220),
				// 	right 150ms cubic-bezier(0.895, 0.030, 0.685, 0.220),
				// 	top 150ms cubic-bezier(0.895, 0.030, 0.685, 0.220),
				// 	width 350ms cubic-bezier(0.895, 0.030, 0.685, 0.220) 150ms,
				// 	height 350ms cubic-bezier(0.895, 0.030, 0.685, 0.220) 150ms
				// );
			}
			.rowgrid__inner {
				position: relative; z-index: 3;
				padding-top: 1.75em;
				font-size: 1.8em; line-height: 1.1em;
			}

			.tweet__text { position: relative; z-index: 10; }

			position: relative; overflow: hidden;
			&:after {
				content: ""; 
				position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%;
				z-index: 1;
				margin-top: -100%;
				color: #fff; background: #4E9FDD; 
				@include transition(
					margin 350ms cubic-bezier(0.895, 0.030, 0.685, 0.220)
				);
			}

			&:hover {
				z-index: 4;
				@include transform(scale(1.1));
				color: #fff;
				&:after {
					margin-top: 0; 
				}
				// .iconwrapper {
				// 	top: 0; left: 0; right: 0; width: 100%; height: 100%; 
				// 	margin-left: 0;
				// 	@include border-radius(0);
				// }
			}
		}
	}
	//&__inner { padding-left:  $rowGridPadding; padding-right: $rowGridPadding; }
}
.first-item {
  clear: both;
}