<header class="main-header">
    <div class="burger">
        <span class="burger__slice"></span>
        <span class="burger__slice"></span>
        <span class="burger__slice"></span>
    </div><!--/burger-->
    {% comment %}
    <nav>
        <ul>
            <li>
                <a href="{{site.baseurl}}">
                    Home
                </a>
            </li>
            <li>
                <a href="{{site.baseurl}}">
                    Blog
                </a>
            </li>
        </ul>
    </nav>
    {% endcomment %}
</header>
