<nav class="bb-menu">
    <div class="bb-menu__inner">
        <div class="content-zone">
            <p>
                Hi, I'm Benoît Boucart, a web designer and (front-end) developer. 
            </p>
            <p>
                Find me on:
            </p>
        </div><!--/content-->

        <a href="{{ site.social.dribbble.url }}" target="_blank" class="btn btn--circle btn--social--dribbble">
            <span class="inner">
                <i class="icon icons-social-dribbble"></i>
            </span>
        </a>
        <a href="{{ site.social.twitter.url }}" target="_blank" class="btn btn--circle btn--social--twitter">
            <span class="inner">
                <i class="icon icons-social-twitter"></i>
            </span>
        </a>
        <a href="{{ site.social.google.url }}" class="btn btn--circle btn--social--google">
            <span class="inner">
                <i class="icon icons-social-google"></i>
            </span>
        </a>
        <hr>
        {% for tag in site.tags %}
            <a data-hover="{{ tag[0] }}" href="{{ site.baseurl }}tags/{{ tag[0] | downcase }}" class="btn btn--tag hasCircle">
                <!-- <span class="circle"></span> -->
                <span class="inner">
                    {{ tag[0] }}
                </span>
            </a>
        {% endfor %}

    </div><!--/bb-menu__inner-->
</nav><!--/bb-menu-->